{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

    <h3 class="d-inline-block page-title">Ficha de Curso</h3>
    <h5 class="mb-3">
        {% if usrcourse.is_teacher %}
        <div class="cargos cargos-profesor"></div>
        {% elif usrcourse.is_assistant_teacher %}
        <div class="cargos cargos-auxiliar"></div>
        {% else%}
        <div class="cargos cargos-ayudante"></div>
        {% endif %}
        {{ course }}
    </h5>
    <hr/>
    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-10 offset-1 mb-5">
            <h4 class="d-inline-block mt-1">Coevaluaciones del curso</h4>
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar coevaluación</button>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-fecha">Fecha inicio</th>
                            <th class="th-titulo">Nombre</th>
                            <th class="th-fecha">Fecha límite</th>
                            <th class="th-estado">Estado</th>
                            <th class="th-iconos"></th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        {% for coev in coevs %}
                            <tr>
                                <td class="td-fecha">
                                    {{ coev.get_init_date }}
                                </td>
                                <td>
                                    {{ coev.name }}
                                </td>
                                <td class="td-fecha">
                                    {{ coev.get_end_date }}
                                </td>
                                <td> {{ coev.status }}</td>
                                <td class="td-icon">
                                    {% if coev.is_closed %}
                                        <a href="#" title="Publicar resultados"><img class="clickable-icon publish-icon wiggle" src="{% static "coevaluacion/icon/publish-icon.png" %}" alt="Publicar resultados" width="28" height="28"></a>
                                    {%  elif coev.is_published %}
                                        <a href="#" title="Exportar resultados"><img class="clickable-icon export-icon" src="{% static "coevaluacion/icon/export-icon.png" %}" alt="Exportar resultados" width="28" height="28"></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <!-- Fecha de inicio -->
                            <td class="td-fecha">
                                20:01 01/12/18
                            </td>
                            <!-- Título de coevaluación -->
                            <td>Tarea final</td>
                            <!-- Fecha de término -->
                            <td class="td-fecha">
                                23:59 20/12/18
                            </td>
                            <!-- Estado -->
                            <td>Abierta</td>
                            <!-- Ícono de acción (responder) -->
                            <td class="td-icon"></td>
                        </tr>
                        <tr>
                            <td class="td-fecha">
                                12:03 11/11/18
                            </td>
                            <td>Tarea con nombre muy largo que ocupa todo el espacio</td>
                            <td class="td-fecha">
                                23:59 21/11/18
                            </td>
                            <td>Abierta</td>
                            <td class="td-icon"></td>
                        </tr>
                        <tr>
                            <td class="td-fecha">15:15 10/11/18</td>
                            <td>Tarea 2</td>
                            <td class="td-fecha">23:59 19/11/18</td>
                            <td>Cerrada</td>
                            <td class="td-icon">
                                <a href="#" title="Publicar resultados"><img class="clickable-icon publish-icon wiggle" src="{% static "coevaluacion/icon/publish-icon.png" %}" alt="Publicar resultados" width="28" height="28"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-fecha">03:53 20/10/18</td>
                            <td>Tarea 1</td>
                            <td class="td-fecha">23:59 27/10/18</td>
                            <td>Publicada</td>
                            <td class="td-icon">
                                <a href="#" title="Exportar resultados"><img class="clickable-icon export-icon" src="{% static "coevaluacion/icon/export-icon.png" %}" alt="Exportar resultados" width="28" height="28"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN Tabla de coevaluaciones -->
    </div>
    <!-- FIN Tablas de resumen -->

    <!-- Gestión del curso -->
    <h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
    <div class="d-inline-block ml-2">
        <a href="#" class="small" title="Cargar información desde archivo"><img class="clickable-icon export-icon mb-1" src="{% static "coevaluacion/icon/load-data-icon.png" %}" alt="Cargar información desde archivo" width="20" height="20">Cargar archivo...</a>
    </div>
    <hr/>
    <div class="row">
        <!-- Tabla de alumnos/as -->
        <div class="col-md-4">
            <h4 class="d-inline-block mt-1">Estudiantes</h4>
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar alumno</button>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-alumnos-curso table-striped table-hover mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <form>
                                    <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            {% if member.is_student %}
                                <tr id="{{ member.id }}" onclick="showGestionEstudiante()">
                                <td>{{ member.member }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tabla de grupos -->
        <div class="col-md-4">
            <h4 class="d-inline-block mt-1">Grupos</h4>
            <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar grupo</button>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-grupos-curso table-striped table-hover mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                <form>
                                    <input class="form-control" type="search" placeholder="Buscar grupo..." aria-label="Buscar alumno">
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for var in itervar %}
                            <tr id="active-grupo" onclick="showGestionGrupo()"><td>var.i</td><td>{{ var.active }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Sección de control -->
        <div class="col-md-4">
            <div id="gestion-placeholder" class="mt-5">
                <h5 class="font-weight-normal text-center text-muted">Selecciona un estudiante o grupo para gestionar</h5>
            </div>
            <!-- Gestión de estudiante -->
            <div id="gestion-estudiante">
                <h4 class="d-inline-block mt-1">Gestionar estudiante</h4>
                <div class="gestionar-wrap my-1">
                    <div class="gestionar-content">
                        <h6 class="d-inline-block font-weight-bold">Estudiante 1</h6>
                        <button type="button" class="btn btn-small btn-cancel float-right">Eliminar</button>
                        <hr/>
                        <div class="ml-2">
                            <h6 class="mb-1 text-muted">Grupo:</h6>
                            <p class="ml-2 d-inline-block">Nombre grupo 1</p>
                            <button type="button" class="btn btn-small btn-secondary float-right">Gestionar grupo</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-small btn-primary-custom">Cambiar grupo</button>
                            <button type="button" class="btn btn-small btn-primary-custom">Ver perfil</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN Gestión de estudiante -->

            <!-- Gestión de grupo -->
            {% for var in itervar %}
            <div id="gestion-grupo-{{ var.active }}">
                <h4 class="d-inline-block mt-1">Gestionar grupo</h4>
                <div class="gestionar-wrap my-1">
                    <div class="gestionar-content">
                        <h6 class="d-inline-block font-weight-bold">{{ var.active }}
                                <a href="#" title="Editar nombre"><img class="clickable-icon mb-1" src="{% static "coevaluacion/icon/edit-icon.png" %}" alt="Editar nombre" width="13" height="13"></a>
                        </h6>
                        <button type="button" class="btn btn-small btn-cancel float-right">Eliminar</button>
                        <hr/>
                        <div class="ml-2">
                            <ul>
                                {% for student in var.members %}
                                    <li>{{ student.member.last_name }}, {{ student.member.first_name }}
                                    <a href="#" title="Quitar estudiante del grupo"><img class="clickable-icon ml-1 mb-1" src="{% static "coevaluacion/icon/x-icon.png" %}" alt="Quitar estudiante del grupo" width="13" height="13"></a></li>
                                {% endfor %}
                                <li><a href="#">Agregar estudiante...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- FIN Gestión de grupo -->
        </div>
        <!-- FIN Sección de control -->
    </div>
</div>
{% endblock %}