{% extends 'base.html' %}

{% block content %}
<!-- Cuerpo -->
<div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

    <h3 class="d-inline-block page-title">Ficha de Curso</h3>
    <h5 class="mb-3">
        <div class="cargos cargos-alumno"></div>
        <!--CC4401-1 Ingeniería de Software 2018, Primavera-->
        {{course}}

    </h5>
    <hr/>
    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-10 offset-1">
            <h4 class="d-inline-block mt-1">Tus coevaluaciones del curso</h4>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-fecha">Fecha inicio</th>
                            <th class="th-titulo">Nombre</th>
                            <th class="th-fecha">Fecha límite</th>
                            <th class="th-estado">Estado</th>
                            <th class="th-iconos"></th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        <tr class="tr-pendiente"> <!-- Fila destacada como Pendiente -->
                            <!-- Fecha de inicio -->
                            <td class="td-fecha">
                                20:01 01/12/18
                            </td>
                            <!-- Título de coevaluación -->
                            <td>Tarea final</td>
                            <!-- Fecha de término -->
                            <td class="td-fecha">
                                23:59 20/12/18
                            </td>
                            <!-- Estado -->
                            <td>Pendiente</td>
                            <!-- Ícono de acción (responder) -->
                            <td class="td-icon">
                                <a href="#" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="../../icon/answer-icon.png" alt="Responder coevaluación" width="28" height="28"></a>
                            </td>
                        </tr>
                        <tr class="tr-pendiente">
                            <td class="td-fecha">
                                12:03 11/11/18
                            </td>
                            <td>Tarea con nombre muy largo que ocupa todo el espacio</td>
                            <td class="td-fecha">
                                23:59 21/11/18
                            </td>
                            <td>Pendiente</td>
                            <td class="td-icon">
                                <a href="#" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="../../icon/answer-icon.png" alt="Responder coevaluación" width="28" height="28"></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-fecha">15:15 10/11/18</td>
                            <td>Tarea 2</td>
                            <td class="td-fecha">23:59 19/11/18</td>
                            <td>Cerrada</td>
                            <td class="td-icon">
                            </td>
                        </tr>
                        <tr>
                            <td class="td-fecha">03:53 20/10/18</td>
                            <td>Tarea 1</td>
                            <td class="td-fecha">23:59 27/10/18</td>
                            <td>Publicada</td>
                            <td class="td-icon">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}