{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container mt-4"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-9">
            <h4 class="d-inline-block mt-1">Últimas Coevaluaciones</h4>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-fecha">Fecha inicio</th>
                            <th class="th-titulo">Nombre</th>
                            <th class="th-curso">Curso</th>
                            <th class="th-semestre">Sem</th>
                            <th class="th-fecha">Fecha límite</th>
                            <th class="th-estado">Estado</th>
                            <th class="th-iconos"></th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        {% for coev in list_coevs %}
                        <tr>
                            <td class="td-fecha">{{ coev.coev.init_date }}</td>
                            <td>{{ coev.coev.name }}</td>
                            <td class="td-curso-full">
                                {% if coev.rol == "Profesor" %}
                                <div class="cargos cargos-profesor tooltip-custom"></div>
                                {% elif coev.rol == 'Profesor auxiliar' %}
                                <div class="cargos cargos-auxiliar tooltip-custom"></div>
                                {% elif coev.rol == 'Ayudante' %}
                                <div class="cargos cargos-ayudante tooltip-custom"></div>
                                {% else %}
                                <div class="cargos cargos-alumno tooltip-custom">
                                {% endif %}
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">{{ coev.coev.course.code.name }}</span>
                                <br>
                                <span class="curso-codigo">{{ coev.coev.course.code.code }}</span>
                            </td>
                            <td>{{ coev.coev.course.year }}</td>
                            <td class="td-fecha">{{ coev.coev.end_date }}</td>
                            <td>{{ coev.status }}</td>
                            {% if coev.status == "Pendiente" %}
                            <td class="td-icon">
                                <a href="{% url 'peer_assessment' year=coev.coev.course.year semester=coev.coev.course.semester code=coev.coev.course.code.code section=coev.coev.course.section_number semester=coev.coev.course.semester id=coev.ansCoevID %}" title="Responder coevaluación">
                                    <img class="clickable-icon answer-icon wiggle" src="{% static '/coevaluacion/icon/answer-icon.png' %}" alt="Responder coevaluación" width="28" height="28">
                                </a>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}


                        <!-- Filas vacías, placeholder -->
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tabla de cursos -->
        <div class="col-md-3 mb-3">
            <h4 class="d-inline-block mt-1">Tus Cursos</h4>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-cursos table-striped table-hover mb-0">
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr>
                            <th>Curso</th>
                            <th class="th-semestre">Sem</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                    {% for uic in userInCourse %}
                        <tr class="clickable-row" data-href='{% url "course" year=uic.course.year semester=uic.course.semester code=uic.course.code.code section=uic.course.section_number%}'>
                            <!--<td><a href="{% url "course" year=uic.course.year semester=uic.course.semester code=uic.course.code.code section=uic.course.section_number%}"></a></td>-->
                            <td class="td-curso-full" >
                                {% if uic.rol == uic.PROFESOR %}
                                <div class="cargos cargos-profesor cargos tooltip-custom"></div>
                                {% elif uic.rol == uic.AUXILIAR_TEACHER %}
                                <div class="cargos cargos-auxiliar cargos tooltip-custom"></div>
                                {% elif uic.rol == uic.AYUDANTE %}
                                <div class="cargos cargos-ayudante cargos tooltip-custom"></div>
                                {% else %}
                                <div class="cargos cargos-alumno cargos tooltip-custom">
                                {% endif %}
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">{{ uic.course.code.name }}</span>
                                <br>
                                <span class="curso-codigo">{{ uic.course.code.code }}-{{ uic.course.section_number }}</span>
                            </td>
                            <td>{{ uic.course.year }}-{{ uic.course.semester }}</td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
