{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="container mt-4"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

    <!-- Tablas de resumen -->
    <div class="row">
        <!-- Tabla de coevaluaciones -->
        <div class="col-md-9">
            <h4 class="d-inline-block mt-1">Últimas Coevaluaciones</h4>

            <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                <table class="table table-coeval table-striped table-hover mb-0"> <!-- Tabla -->
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr> <!-- Fila (Table Row) -->
                            <th class="th-fecha">Fecha inicio</th>
                            <th class="th-titulo">Nombre</th>
                            <th class="th-curso">Curso</th>
                            <th class="th-semestre">Sem</th>
                            <th class="th-fecha">Fecha límite</th>
                            <th class="th-estado">Estado</th>
                            <th class="th-iconos"></th>
                        </tr>
                    </thead>

                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        {% for coev in coevsInCourse %}
                        <tr class="clickable-row" data-href='{% url "peer_assessment" year=coev.co_evaluation.course.year semester=coev.co_evaluation.course.semester code=coev.co_evaluation.course.code.code section=coev.co_evaluation.course.section_number semester=coev.co_evaluation.course.semester id=coev.co_evaluation.id %}'>
                            <td class="td-fecha">{{ coev.co_evaluation.init_date }}</td>
                            <td><a href="{% url "peer_assessment" year=coev.co_evaluation.course.year semester=coev.co_evaluation.course.semester code=coev.co_evaluation.course.code.code section=coev.co_evaluation.course.section_number semester=coev.co_evaluation.course.semester id=coev.id %}">{{ coev.co_evaluation.name }}</a></td>
                            <td class="td-curso-full">
                                {% if coev.user.rol == coev.user.PROFESOR %}
                                <div class="cargos cargos-profesor tooltip-custom">
                                {% elif coev.user.rol == coev.user.AUXILIAR_TEACHER %}
                                <div class="cargos cargos-auxiliar tooltip-custom">
                                {% elif coev.user.rol == coev.user.AYUDANTE %}
                                <div class="cargos cargos-ayudante tooltip-custom">
                                {% else %}
                                <div class="cargos cargos-alumno tooltip-custom">
                                {% endif %}
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">{{ coev.co_evaluation.course.code.name }}</span>
                                <br>
                                <span class="curso-codigo">{{ coev.co_evaluation.course.code.code }}</span>
                            </td>
                            <td>{{ coev.co_evaluation.course.year }}</td>
                            <td class="td-fecha">{{ coev.co_evaluation.end_date }}</td>
                            <td>{{ coev.state }}</td>
                            {% if coev.state == coev.PENDENT %}
                            <td class="td-icon">
                                <a href="#" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="{% static "/coevaluacion/icon/answer-icon.png" %}" alt="Responder coevaluación" width="28" height="28"></a>
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                        <!-- Filas vacías, placeholder -->
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                        <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Tabla de cursos -->
        <div class="col-md-3 mb-3">
            <h4 class="d-inline-block mt-1">Tus Cursos</h4>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-cursos table-striped table-hover mb-0">
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr>
                            <th>Curso</th>
                            <th class="th-semestre">Sem</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        <tr>
                            <td class="td-curso-full">
                                <div class="cargos cargos-alumno tooltip-custom">
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">Proyecto de Software</span>
                                <br>
                                <span class="curso-codigo">CC5402-1</span>
                            </td>
                            <td>2018-2</td>
                        </tr>
                        <tr>
                            <td class="td-curso-full">
                                <div class="cargos cargos-alumno tooltip-custom">
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">Ingeniería de Software II</span>
                                <br>
                                <span class="curso-codigo">CC5401-1</span>
                            </td>
                            <td>2018-1</td>
                        </tr>
                        <tr>
                            <td class="td-curso-full">
                                <div class="cargos cargos-alumno tooltip-custom">
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">Ingeniería de Software I</span>
                                <br>
                                <span class="curso-codigo">CC4401-1</span>
                            </td>
                            <td>2017-1</td>
                        </tr>
                    {% for uic in userInCourse %}
                        <tr>
                            <td class="td-curso-full">
                                {% if uic.rol == uic.PROFESOR %}
                                <div class="cargos cargos-profesor cargos tooltip-custom">
                                {% elif uic.rol == uic.AUXILIAR_TEACHER %}
                                <div class="cargos cargos-auxiliar cargos tooltip-custom">
                                {% elif uic.rol == uic.AYUDANTE %}
                                <div class="cargos cargos-ayudante cargos tooltip-custom">
                                {% else %}
                                <div class="cargos cargos-alumno cargos tooltip-custom">
                                {% endif %}
                                    <span class="tooltiptext"></span>
                                </div>
                                <span class="curso-nombre">{{ uic.course.code.name }}</span>
                                <br>
                                <span class="curso-codigo">{{ uic.course.code.code }}-{{ uic.course.section_number }}</span>
                            </td>
                            <td>{{ uic.course.year }}-{{ uic.course.semester }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}
