{% extends 'base.html' %}

{% block content %}
<!-- Cuerpo -->
<div class="container"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

    <h3 class="d-inline-block page-title">Ficha de Alumno/a</h3>
    <hr/>
    <!-- Contenido -->
    <div class="row">

        <!-- Perfil -->
        <div class="col-md-4 mb-3">
            <h4 class="d-inline-block mt-1">Tu Perfil</h4>
            <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Nombre</h6>
            <span>{{ profile_user.first_name }} {{ user.last_name }}</span>
            <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">RUT</h6>
            <span>{{ profile_user.rut }}</span>
            <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Correo Electrónico</h6>
            <span>{{ profile_user.email }}</span>

            {% if owner %}
                <button type="button" id="change-pass-btn" class="btn btn-primary mt-3 d-block" onclick="changePass({{ courses|length }})">Cambiar contraseña</button>
            {% endif %}
        </div>
        <!-- FIN Perfil -->

        <!-- Tabla de cursos -->
        <div class="col-md-4 mb-3">
            <h4 class="d-inline-block mt-1">Tus Cursos</h4>

            <div class="table-wrap table-responsive my-1">
                <table class="table table-cursos-perfil table-striped table-hover mb-0">
                    <!-- Encabezados de tabla (Table Headers) -->
                    <thead class="thead-light">
                        <tr>
                            <th>Curso</th>
                            <th class="th-semestre">Semestre</th>
                        </tr>
                    </thead>
                    <!-- Cuerpo de tabla (Table Data) -->
                    <tbody>
                        {% for c in courses %}
                            <tr id="row-btn-{{ c.course_index }}" onclick="showGrades({{ c.course_index }}, {{ courses|length }})">
                                <td class="td-curso-full">
                                    <div class="cargos cargos-alumno tooltip-custom">
                                        <span class="tooltiptext"></span>
                                    </div>
                                    <span class="curso-nombre">{{ c.course.course.code.name }}</span>
                                    {% if c.visitor_rol %}
                                        <span class="cargos cargos-profesor fright" title="Eres Profesor/a en este ramo"></span>
                                    {% endif %}
                                    <br>
                                    <span class="curso-codigo">{{ c.course.course.code.code }}</span>
                                </td>
                                <td>{{ c.course.course.year }}-{{ c.course.course.semester }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- FIN Tabla de cursos -->

        <!-- Tabla de notas -->
        <div class="col-md-4">
            {% if owner %}
                <div id="cambiar-contrasena">
                    <h4 class="d-inline-block mt-1">Cambiar contraseña</h4>
                    <form>
                        <div class="form-group">
                            <label for="passOld">Ingrese su contraseña actual</label>
                            <input type="password" class="form-control" id="passOld">
                        </div>
                        <div class="form-group">
                            <label for="passNew">Ingrese su nueva contraseña</label>
                            <input type="password" class="form-control" id="passNew">
                        </div>
                        <div class="form-group">
                            <label for="passNewConfim">Confirme su nueva contraseña</label>
                            <input type="password" class="form-control" id="passNewConfirm">
                        </div>
                        <button type="submit" class="btn btn-primary-custom">Confirmar</button>
                        <button type="button" class="btn btn-cancel" onclick="cancelPass({{ courses|length }})">Cancelar</button>
                    </form>
                </div>
            {% endif %}

            <div id="notas-placeholder" class="mt-5">
                <h5 class="font-weight-normal text-center text-muted">Selecciona un curso para ver tus notas</h5>
            </div>
            {% for c in courses %}
                {% if  c.grades|length  %}
                    <div id="notas-resumen-{{ c.course_index }}" class="notas-resumen">
                        <h4 class="d-inline-block mt-1">Tus Notas</h4>
                        <h5 class="float-right mb-0 mt-2 text-muted" id="currentCurso">CC5402-1, 2018-2</h5>

                        <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                            <table class="table table-notas-perfil table-striped table-hover mb-0"> <!-- Tabla -->
                                <!-- Encabezados de tabla (Table Headers) -->
                                <thead class="thead-light">
                                    <tr> <!-- Fila (Table Row) -->
                                        <th class="th-fecha">Publicada</th>
                                        <th class="th-titulo">Título</th>
                                        <th class="th-nota">Nota</th>
                                    </tr>
                                </thead>

                                <!-- Cuerpo de tabla (Table Data) -->
                                <tbody id="notas-resumen-table">
                                    {% for grade in c.grades %}
                                        <tr>
                                        <!-- Fecha de publicación -->
                                        <td class="td-fecha">{{ grade.co_evaluation.get_init_date }}</td>
                                        <!-- Título de coevaluación -->
                                        <td>{{ grade.co_evaluation.name }}</td>
                                        <!-- Nota -->
                                        <td class="td-nota">{{ grade.grade }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <div id="notas-resumen-{{ c.course_index }}" class="notas-resumen mt-5">
                        <h5 class="font-weight-normal text-center text-muted">No hay evaluaciones publicadas</h5>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}