<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../css/coeval.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/coeval.js"></script>
        <title>Tarea con nombre muy largo que ocupa todo el espacio - Sistema de Coevaluaciones DCC</title>
    </head>
    <body>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="#">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Juanito Pérez</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->

        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

            <h3 class="d-inline-block page-title">Ficha de Coevaluación</h3>
            <hr/>
            <!-- Contenido -->
            <div class="row mb-3">

                <!-- Información -->
                <div class="col-md-4 mb-3">
                    <h4 class="d-inline-block mt-1">Información</h4>
                    <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Título</h6>
                    <span>Tarea 1</span>
                    <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Curso</h6>
                    <span>CC4401 Ingeniería de Software I 2018, Primavera</span>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Fecha de inicio</h6>
                            <span>03:53 20/10/18</span>
                        </div>
                        <div class="col-6">
                            <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Fecha límite</h6>
                            <span>23:59 27/10/18</span>
                        </div>
                    </div>
                    <h6 class="text-muted mt-3 mb-0 pb-1 border-bottom">Estado</h6>
                    <span>Abierta</span>
                </div>
                <!-- FIN Información -->

                <!-- Tabla de alumnos que no han contestado -->
                <div class="col-md-6">
                    <h4 class="d-inline-block mt-1">Tu grupo</h4>

                    <div class="table-wrap table-responsive my-1">
                        <table class="table table-grupo-coeval table-striped table-hover mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="th-nombre">Nombre</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Estudiante 1</td>
                                    <td class="td-icon"></td>
                                </tr>
                                <tr class="tr-pendiente" onclick="jumpTo('responder-coeval')">
                                    <td>Estudiante 2 (clickeable)</td>
                                    <td class="td-icon"><a href="#responder-coeval" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="../../icon/answer-icon.png" alt="Responder coevaluación" width="28" height="28"></a></td>
                                </tr>
                                <tr>
                                    <td>Estudiante 3</td>
                                    <td class="td-icon"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- FIN Tabla de alumnos que no han respondido -->
            </div>

            <h4 class="d-inline-block mt-1 mb-0">Responder coevaluación</h4>
            <hr/>
            <!-- Detalle de coevaluación contestada -->
            <div id="responder-coeval" class="row">
                <div class="col-10 offset-1">
                <h5 class="font-italic d-inline-block">Estas respondiendo para:</h5>
                <h4 class="font-weight-bold d-inline-block ml-1">Estudiante 2</h4>
                    <form>
                        <ol>
                            <div class="criterio-coeval">
                                <li class="h5">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </li>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">7</label>
                                </div>
                            </div>
                            <div class="criterio-coeval">
                                <li class="h5">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </li>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">3</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">4</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">5</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">6</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                    <label class="form-check-label" for="inlineRadio3">7</label>
                                </div>
                            </div>
                            <div class="criterio-coeval">
                                <li class="h5">...</li>
                            </div>
                        </ol>
                    <button type="submit" class="btn btn-primary-custom">Enviar coevaluación</button>
                    </form>

                </div>
            </div>
        </div>
    </body>
    </html>
        