<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../../css/coeval.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/coeval.js"></script>
        <title>Sistema de Coevaluaciones DCC</title>
    </head>
    <body>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="#">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <form class="nav-link form-inline my-2 my-lg-0">
                        <input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                    </form>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Juanito Pérez</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->

        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

            <h3 class="d-inline-block page-title">Ficha de Curso</h3>
            <h5 class="mb-3">
                <div class="cargos cargos-profesor"></div>
                CC4401-1 Ingeniería de Software 2018, Primavera
            </h5>
            <hr/>
            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-10 offset-1 mb-5">
            		<h4 class="d-inline-block mt-1">Coevaluaciones del curso</h4>
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar coevaluación</button>

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                <tr>
                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        20:01 01/12/18
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td>Tarea final</td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        23:59 20/12/18
                                    </td>
                                    <!-- Estado -->
                                    <td>Abierta</td>
                                    <!-- Ícono de acción (responder) -->
                                    <td class="td-icon"></td>
                                </tr>
                                <tr>
                                    <td class="td-fecha">
                                        12:03 11/11/18
                                    </td>
                                    <td>Tarea con nombre muy largo que ocupa todo el espacio</td>
                                    <td class="td-fecha">
                                        23:59 21/11/18
                                    </td>
                                    <td>Abierta</td>
                                    <td class="td-icon"></td>
                                </tr>
                                <tr>
                                    <td class="td-fecha">15:15 10/11/18</td>
                                    <td>Tarea 2</td>
                                    <td class="td-fecha">23:59 19/11/18</td>
                                    <td>Cerrada</td>
                                    <td class="td-icon">
                                        <a href="#" title="Publicar resultados"><img class="clickable-icon publish-icon wiggle" src="../../icon/publish-icon.png" alt="Publicar resultados" width="28" height="28"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-fecha">03:53 20/10/18</td>
                                    <td>Tarea 1</td>
                                    <td class="td-fecha">23:59 27/10/18</td>
                                    <td>Publicada</td>
                                    <td class="td-icon">
                                        <a href="#" title="Exportar resultados"><img class="clickable-icon export-icon" src="../../icon/export-icon.png" alt="Exportar resultados" width="28" height="28"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            	<!-- FIN Tabla de coevaluaciones -->
            </div>
            <!-- FIN Tablas de resumen -->

            <!-- Gestión del curso -->
			<h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
			<div class="d-inline-block ml-2">
            	<a href="#" class="small" title="Cargar información desde archivo"><img class="clickable-icon export-icon mb-1" src="../../icon/load-data-icon.png" alt="Cargar información desde archivo" width="20" height="20">Cargar archivo...</a>
            </div>
			<hr/>
            <div class="row">
            	<!-- Tabla de alumnos/as -->
                <div class="col-md-4">
            		<h4 class="d-inline-block mt-1">Estudiantes</h4>
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar alumno</button>

                    <div class="table-wrap table-responsive my-1">
                        <table class="table table-alumnos-curso table-striped table-hover mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                    	<form>
                                    		<input class="form-control" type="search" placeholder="Buscar alumno..." aria-label="Buscar alumno">
                                    	</form>
                    				</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="active-estudiante" onclick="showGestionEstudiante()"><td>Estudiante 1 (clickeable)</td></tr>
                                <tr><td>Estudiante 2</td></tr>
                                <tr><td>Estudiante 3</td></tr>
                                <tr><td>Estudiante 4</td></tr>
                                <tr><td>Estudiante 5</td></tr>
                                <tr><td>Estudiante 6</td></tr>
                                <tr><td>Estudiante 7</td></tr>
                                <tr><td>Estudiante 8</td></tr>
                                <tr><td>Estudiante 9</td></tr>
                                <tr><td>Estudiante 10</td></tr>
                                <tr><td>Estudiante 11</td></tr>
                                <tr><td>Estudiante 12</td></tr>
                                <tr><td>Estudiante 13</td></tr>
                                <tr><td>Estudiante 14</td></tr>
                                <tr><td>Estudiante 15</td></tr>
                                <tr><td>Estudiante 16</td></tr>
                                <tr><td>Estudiante 17</td></tr>
                                <tr><td>Estudiante 18</td></tr>
                                <tr><td>Estudiante 19</td></tr>
                                <tr><td>Estudiante 20</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            	<!-- Tabla de grupos -->
                <div class="col-md-4">
            		<h4 class="d-inline-block mt-1">Grupos</h4>
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right">Agregar grupo</button>

                    <div class="table-wrap table-responsive my-1">
                        <table class="table table-grupos-curso table-striped table-hover mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                    	<form>
                                    		<input class="form-control" type="search" placeholder="Buscar grupo..." aria-label="Buscar alumno">
                                    	</form>
                    				</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="active-grupo" onclick="showGestionGrupo()"><td>1</td><td>Nombre grupo 1 (clickeable)</td></tr>
                                <tr><td>2</td><td>Nombre grupo 2</td></tr>
                                <tr><td>3</td><td>Nombre grupo 3</td></tr>
                                <tr><td>4</td><td>Nombre grupo 4</td></tr>
                                <tr><td>5</td><td>Nombre grupo 5</td></tr>
                                <tr><td>6</td><td>Nombre grupo 6</td></tr>
                                <tr><td>7</td><td>Nombre grupo 7</td></tr>
                                <tr><td>8</td><td>Nombre grupo 8</td></tr>
                                <tr><td>9</td><td>Nombre grupo 9</td></tr>
                                <tr><td>10</td><td>Nombre grupo 10</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            	<!-- Sección de control -->
                <div class="col-md-4">
                    <div id="gestion-placeholder" class="mt-5">
                        <h5 class="font-weight-normal text-center text-muted">Selecciona un estudiante o grupo para gestionar</h5>
                    </div>
                    <!-- Gestión de estudiante -->
                    <div id="gestion-estudiante">
                        <h4 class="d-inline-block mt-1">Gestionar estudiante</h4>
                        <div class="gestionar-wrap my-1">
                            <div class="gestionar-content">
                                <h6 class="d-inline-block font-weight-bold">Estudiante 1</h6>
                                <button type="button" class="btn btn-small btn-cancel float-right">Eliminar</button>
                                <hr/>
                                <div class="ml-2">
	                                <h6 class="mb-1 text-muted">Grupo:</h6>
	                                <p class="ml-2 d-inline-block">Nombre grupo 1</p>
	                                <button type="button" class="btn btn-small btn-secondary float-right">Gestionar grupo</button>
                                </div>
                                <div>
	                                <button type="button" class="btn btn-small btn-primary-custom">Cambiar grupo</button>
	                                <button type="button" class="btn btn-small btn-primary-custom">Ver perfil</button>
	                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Gestión de estudiante -->

                    <!-- Gestión de grupo -->
                    <div id="gestion-grupo">
                		<h4 class="d-inline-block mt-1">Gestionar grupo</h4>
                        <div class="gestionar-wrap my-1">
                        	<div class="gestionar-content">
                                <h6 class="d-inline-block font-weight-bold">Nombre grupo 1
                                        <a href="#" title="Editar nombre"><img class="clickable-icon mb-1" src="../../icon/edit-icon.png" alt="Editar nombre" width="13" height="13"></a>
                                </h6>
                                <button type="button" class="btn btn-small btn-cancel float-right">Eliminar</button>
                                <hr/>
                                <div class="ml-2">
	                                <ul>
	                                    <li>Estudiante 1
	                                        <a href="#" title="Quitar estudiante del grupo"><img class="clickable-icon ml-1 mb-1" src="../../icon/x-icon.png" alt="Quitar estudiante del grupo" width="13" height="13"></a></li>
	                                    <li>Estudiante 2
	                                        <a href="#" title="Quitar estudiante del grupo"><img class="clickable-icon ml-1 mb-1" src="../../icon/x-icon.png" alt="Quitar estudiante del grupo" width="13" height="13"></a></li>
	                                    <li>Estudiante 3
	                                        <a href="#" title="Quitar estudiante del grupo"><img class="clickable-icon ml-1 mb-1" src="../../icon/x-icon.png" alt="Quitar estudiante del grupo" width="13" height="13"></a></li>
	                                    <li><a href="#">Agregar estudiante...</a></li>
	                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN Gestión de grupo -->
                </div>
                <!-- FIN Sección de control -->
            </div>
        </div>
            
    </body>
    </html>
        